@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik|Space+Mono');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto Mono', monospace;
  color: #EF8354;
  font-size: 16px;
  background: #2D3142;
}
/* a {
  text-decoration: none;
} */

/* ------------ SIDEBAR STYLE ----------- */
.wrap {
  padding: 64px 0 0;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  float: left;
  width: 150px;
  text-align: right;
}

.sidebar .menu {
  position: relative;
  width: 200px;
}

.sidebar .title {
  margin-bottom: 37px;
  font-size: 17px;
  font-style: normal;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0.2em;
}
.sidebar .title {
  color: #fff;
  transition: all 0.2s ease-out;
}
.sidebar .title:hover {
  color: #EF8354;
}

.sidebar nav ul {
  line-height: 1.4;
  list-style: none;
  text-align: right;
}

.sidebar nav ul li {
  line-height: 2em;
  letter-spacing: 0.4em;
  color: rgba(255, 255, 255, 0.35);
  transition: all 0.2s ease-out;
  cursor: pointer;
}
.sidebar nav ul li.active {
  color: #fff;
}
.sidebar nav ul li:not(.active)::after {
  opacity: 0.2;
}
.sidebar nav ul li:not(.active):hover {
  color: rgba(255, 255, 255, 0.75);
}

.have-children li:not(.active):hover {
  color: #EF8354 !important;
}
.have-children ul li.active {
  color: #EF8354 !important;
}
.have-children ul li {
  line-height: 1.2 !important;
  font-size: 0.9em;
  letter-spacing: 0 !important;
}
.have-children ul {
  display: none;
}

.responsive {
  display: none;
}

/* ------------ CONTENT STYLE -------------- */
#content {
  float: left;
  width: 70%;
  width: calc(100% - 250px);
  margin-left: 100px;
  background: #EF8354;
  color: #2D3142;
  height: 100%;
  text-align: left;
  padding: 60px;
  font-family: 'Space Mono', monospace;
}

.page {
  display: none;
}
#home {
  display: block;
}
#home > p {
  font-size: 1.5em;
}

.typed-cursor {
  color: #fff;
  font-style: italic;
}
#typed {
  color: #fff;
}

#about img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
}
#about > p {
  line-height: 2;
}
/* ------------------ RESPONSIVE DESIGN -------------- */
@media only screen and (max-width: 800px) {
  .wrap {
    float: none;
    padding: 3em 0 0;
    margin: 0 auto;
    width: 90%;
  }

  .responsive {
    display: block;
  }

  .sidebar {
    width: auto;
    margin: 0 0 3.6em;
    float: none;
    overflow: hidden;
  }

  .sidebar .menu {
    position: static;
    width: auto;
  }

  .sidebar .title {
    float: left;
    margin-bottom: 0;
    max-width: 150px;
  }

  .sidebar nav {
    position: fixed;
    background: #2D3142;
    width: 80%;
    z-index: 90;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    transition: transform 0.3s, box-shadow 0.3s ease;
    overflow: hidden;
  }
  .sidebar nav.active {
    box-shadow: 0 0 1200px 800px rgba(0, 0, 0, 0.3);
    transform: translateX(0);
    transition: transform 0.3s, box-shadow 0.3s ease;
  }
  .sidebar nav > ul {
    position: absolute;
    top: 0;
    left: 30px;
    bottom: 30px;
    padding-top: 40px;
    overflow: scroll;
  }
  .sidebar nav ul {
    text-align: left;
  }

  .sidebar .menu-open {
    position: absolute;
    width: 44px;
    height: 44px;
    padding: 5px;
    top: 34px;
    right: 24px;
    background: none;
  }

  .sidebar .menu-open::before {
    content: '';
    position: absolute;
    top: 13px;
    left: 10px;
    width: 23px;
    height: 3px;
    border-top: 9px double #fff;
    border-bottom: 3px solid #fff;
  }

  .sidebar .menu-open:hover::before {
    border-top-color: #cacaca;
    border-bottom-color: #cacaca;
  }

  .sidebar .menu-close {
    position: absolute;
    top: 34px;
    right: 17px;
    width: 44px;
    font-size: 32px;
    text-align: center;
    color: #fff;
    background: none;
  }

  .sidebar .menu-close:before {
    content: '\00d7';
  }
  .sidebar .menu-close:hover:before {
    color: #cacaca;
  }

  #content {
    float: none;
    width: auto;
    margin-left: 0;
  }
}

@media only screen and (max-width: 400px) {
  .sidebar {
    margin: 0 0 2em;
  }
}
